################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/pcl_kitti/v16
/pcl_kitti/x64/Release
/x64/Release
